

@{
    ViewData["Title"] = "Start";

}



<div class="row">

    <p></p>
    <form asp-controller="Home" method="post">
        @if (ViewBag.currentMeasure == -1 && ViewBag.currentPoint==1)
        {
            <ul>
                <li>
                    W celu przeprowadzenia analizy wprowadź ilość pomiarów na punkt a następnie naciśnij START.
                    Zostanie uruchomiony system pomiarowy. Po zapaleniu diody w ciągu 3 sekund rozpocznie się pomiar
                </li>
            </ul>
            <div class="form-group ">
                <label for="numberOfTestsPerPoint">Ilość pomiarów na punkt:</label>
                <select class="form-control" id="numberOfTestsPerPoint" name="numberOfTestsPerPoint">
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5' selected>5</option>
                    <option value='6'>6</option>
                </select>
            </div>//opcja zrobienia róznych view
           

        }
        else
        {
            <ul>
                <li>Aby rozpocząć kolejny pomiar nasciśnij START</li>
            </ul>
        }

        <div class="form-group ">
            <input type="submit" asp-action="AnalizeData" class="btn btn-success" value="START" />
        </div>


    </form>
</div>