



<div class="row">

    <p></p>
    <form asp-controller="Home" method="post">
        @if (ViewBag.currentMeasure == -1 && ViewBag.currentPoint == 1)
        {
            <div>
                <p class="font-weight-light">
                    W celu przeprowadzenia analizy wprowadź ilość pomiarów na punkt a następnie naciśnij START.
                    Zostanie uruchomiony system pomiarowy. Po zapaleniu diody w ciągu 5 sekund rozpocznie się pomiar.
                </p>
            </div>

            <div class="form-group ">

                <label for="numberOfTestsPerPoint">Ilość pomiarów na punkt:</label>
                <select class="form-control" id="numberOfTestsPerPoint" name="numberOfTestsPerPoint">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5' selected>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <div class="form-group ">

                <label for="numberOfPoints">Ilość mierzonych punktów:</label>
                <select class="form-control" id="numberOfPoints" name="numberOfPoints">
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5' selected>5</option>
                    <option value='6'>6</option>
                    <option value='10'>10</option>
                </select>
            </div>
            <div class="form-group ">
                <label for="firstMounting">Pierwsze mocowanie:</label>
                <select class="form-control" id="firstMounting" name="firstMounting">
                    <option value='0' selected>początek belki</option>
                    <option value='1'>koniec belki</option>
                </select>
            </div>
            <div class="form-group ">
                <label for="secondMounting">Drugie mocowanie:</label>
                <select class="form-control" id="secondMounting" name="secondMounting">
                    <option value='-1' selected>brak</option>
                    <option value='0'>drugi koniec</option>
                </select>
            </div>

        }
        else
        {
            <div>
                <p class="font-weight-light">
                    To @(ViewBag.currentMeasure + 2). pomiar dla punktu @ViewBag.currentPoint.
                </p>
                <p>
                    Aby rozpocząć kolejny pomiar nasciśnij START
                </p>
            </div>

        }

        <div class="form-group ">
            <input type="submit" asp-action="AnalizeData" class="btn btn-success" value="START" />
        </div>


    </form>
</div>